# templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
data:
  server.properties: |
    # KRaft Configuration
    process.roles=broker,controller
    node.id=${KAFKA_NODE_ID}
    controller.quorum.voters=0@kafka-0.kafka-headless:9093,1@kafka-1.kafka-headless:9093
    
    # Network
    listeners=PLAINTEXT://:9092,CONTROLLER://:9093
    advertised.listeners=PLAINTEXT://${HOSTNAME}.kafka:9092
    listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
    controller.listener.names=CONTROLLER
    
    # Storage
    log.dirs=/kafka/data
    
    # Topics
    num.partitions=2
    default.replication.factor=2
    
