apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
data:
  application.properties: |
    server.port={{ .Values.config.serverPort }}
    spring.application.name={{ .Chart.Name }}

    spring.security.oauth2.client.registration.exgen.client-id=${OAUTH2_CLIENT_ID}
    spring.security.oauth2.client.registration.exgen.client-secret=${OAUTH2_CLIENT_SECRET}
    spring.security.oauth2.client.registration.exgen.authorization-grant-type=client_credentials
    spring.security.oauth2.client.registration.exgen.scope=write
    spring.security.oauth2.client.provider.auth.token-uri=http://auth:8080/oauth2/token


    spring.kafka.bootstrap-servers=kafka:9092
    # At most once
    spring.kafka.producer.acks=0
    spring.kafka.producer.retries=0
    # Ordered messages
    spring.kafka.producer.properties.max.in.flight.requests.per.connection=1
    # Serialization
    spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
    spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer
    spring.kafka.producer.properties.spring.json.add.type.headers=true

    # Zipkin
    management.zipkin.tracing.endpoint=http://zipkin:9411/api/v2/spans
    management.tracing.sampling.probability=1
    spring.kafka.producer.observation-enabled=true
    spring.kafka.consumer.observation-enabled=true
    spring.kafka.listener.observation-enabled=true

    # Prometheus
    management.endpoints.web.exposure.include=*


    
    
