apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: exchange-rate-update-missing
#  namespace: monitoring # Неймспейс, в котором работает Prometheus
  labels:
    release: prometheus  # Название релиза Prometheus 
spec:
  groups:
    - name: bank
      rules:
        - alert:  exchangeRateUpdateMissing
          expr: bank_exchange_rate_seconds_since_last_update > 15
          labels:
            severity: warning                   
          annotations:
            summary: "Exchange rate was not updated in time"
            description: "Exchange rate should be updated every ten seconds."
