<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <Kafka name="Kafka" topic="logs" syncSend="false">
            <!-->
            <PatternLayout pattern="%date %message"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%X{service_name}] %msg%n"/>
            </!-->
            <PatternLayout pattern='{"timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}", "service":"cash", "level":"%p",  "trace_id":"%X{traceId}", "span_id":"%X{spanId}", "message":"%m"}%n'/>
            <Property name="bootstrap.servers">kafka:9092</Property>
            <Property name="linger.ms">1000</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Kafka"/>
        </Root>
        <Logger name="org.apache.kafka" level="INFO" >
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>