apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
data:
  application.properties: |
    server.port={{ .Values.config.serverPort }}
    spring.application.name={{ .Chart.Name }}
    

    spring.kafka.bootstrap-servers=kafka:9092
    spring.kafka.consumer.group-id=exchange
    spring.kafka.consumer.auto-offset-reset=latest

    spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
    spring.kafka.consumer.value-deserializer=org.springframework.kafka.support.serializer.JsonDeserializer

    spring.kafka.consumer.properties.spring.json.trusted.packages=*
    spring.kafka.consumer.properties.spring.json.use.type.headers=true
    spring.kafka.consumer.properties.spring.json.value.default.type=javamid.exchange.ExchangeRateDto

