apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
data:
  application.properties: |
    server.port={{ .Values.config.serverPort }}
    spring.application.name={{ .Chart.Name }}
    

    spring.kafka.bootstrap-servers=kafka:9092
    spring.kafka.consumer.group-id=exchange
    spring.kafka.consumer.auto-offset-reset=latest

    spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
    spring.kafka.consumer.value-deserializer=org.apache.kafka.common.serialization.StringDeserializer

    spring.kafka.consumer.properties.spring.json.trusted.packages=*

    # Zipkin
    management.zipkin.tracing.endpoint=http://zipkin:9411/api/v2/spans
    management.tracing.sampling.probability=1
    spring.kafka.producer.observation-enabled=true
    spring.kafka.consumer.observation-enabled=true
    spring.kafka.listener.observation-enabled=true

    # Prometheus
    management.endpoints.web.exposure.include=*

    
