apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
data:
  application.properties: |
    server.port={{ .Values.config.serverPort }}
    spring.application.name={{ .Chart.Name }}
    

    spring.kafka.bootstrap-servers=kafka:9092

    spring.kafka.producer.key-serializer=org.apache.kafka.common.serialization.StringSerializer
    spring.kafka.producer.value-serializer=org.springframework.kafka.support.serializer.JsonSerializer
    
    spring.kafka.producer.properties.spring.json.use.type.headers=false
    spring.kafka.producer.properties.spring.json.add.type.headers=false
    spring.kafka.consumer.properties.spring.json.value.default.type=javamid.notify.model.TransferDto

    spring.kafka.producer.acks=all
    spring.kafka.producer.retries=3
    spring.kafka.producer.properties.enable.idempotence=true

    # Zipkin
    management.zipkin.tracing.endpoint=http://zipkin:9411/api/v2/spans
    management.tracing.sampling.probability=1
    spring.kafka.producer.observation-enabled=true
    spring.kafka.consumer.observation-enabled=true
    spring.kafka.listener.observation-enabled=true

     # Prometheus
    management.endpoints.web.exposure.include=*

